.action-buttons {
    position: absolute;
    right: 24px; /* Ajusta según sea necesario */
    top: 10px; /* Ajusta según sea necesario */
    z-index: 2;
    display: flex;
    gap: 12px; /* Espaciado entre botones */
    background-color: white; /* Color de fondo */
    border-radius: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .action-button {
    width: 40px; /* Tamaño del botón */
    height: 40px; /* Tamaño del botón */
    min-width: unset;
    background-color: #4CAF50; /* Color del botón */
    color: white; /* Color del texto */
    border-radius: 50%; /* Botón circular */
    transition: all 0.2s ease;
  }
  
  .action-button:hover {
    transform: scale(1.1); /* Efecto hover */
    background-color: #43A047; /* Color al pasar el mouse */
  }
  
  .action-button:active {
    transform: scale(0.95); /* Efecto al hacer clic */
  }
  