/* Layout.css */
#wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#page-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.content-wrapper {
  flex-grow: 1;
  overflow-y: auto; /* Para permitir el desplazamiento del contenido si es necesario */
}

/* Estilos para el Footer */
footer {
  width: 100%;
  background-color: #f8f9fa; /* Color de fondo del footer */
  padding: 1rem 0; /* Espaciado interno */
  text-align: center; /* Centrar el texto */
  border-top: 1px solid #e9ecef; /* Borde superior */
}